# PHASE 2 PROJECT - MOVIE STUDIO BUSINESS INSIGHTS

## GROUP 4 PROJECT SUBMISSION

* Students names: Valentine Kweyu, Shem Nderitu, Mercy Barminga, Timothy Kamwilwa, Beatrice Kiilu, Nelson Muia, & Sharon Chebet.
* Student pace: Data Science/Part time 
* Scheduled project review date/time: 12th June 2025.
* Instructor name: Maryann Mwikali
* Blog post URL:

## SECTION 1: BUSINESS UNDERSTANDING

### Business Problem
The company wants to launch a new movie studio to produce original video content. However, the team lacks data-driven insights into what types of movies perform well in the market.

### Objective
Use exploratory data analysis (EDA) on movie data from various sources (Rotten Tomatoes, The Numbers, IMDB) to identify trends, patterns, and business opportunities in the film industry.

Provide 3 actionable recommendations to guide the new studio in film production.

### Stakeholders
- Head of the company's new movie studio
- Marketing team
- Content development team

### Loading Data

In [1]:
# Import Relevant libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gzip

In [2]:
# Display settings
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

In [3]:
# Load Rotten Tomatoes movie info
df_rt_info = pd.read_csv(r"zippedData\rt.movie_info.tsv.gz", sep='\t', compression='gzip')
# Load Rotten Tomatoes movie reviews
df_rt_reviews = pd.read_csv(r"zippedData\rt.reviews.tsv.gz", sep='\t', compression='gzip', encoding = 'latin1')
# Load movie budgets data
df_budgets = pd.read_csv(r"zippedData/tn.movie_budgets.csv.gz", compression='gzip')

In [4]:
# Preview datasets
print("\nRotten Tomatoes Info:")
display(df_rt_info.head())

print("\nRotten Tomatoes Reviews:")
display(df_rt_reviews.head())

print("\nMovie Budgets from The Numbers:")
display(df_budgets.head())

Rotten Tomatoes Info:

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

Rotten Tomatoes Reviews:

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

Movie Budgets from The Numbers:

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"